<div class="form-group">
    <%= f.label fn, class: "col-md-1 control-label" %>
    ( e.g. "<%= sample_txt %>" )
    <div class="col-md-12">
      <%= f.text_field fn, :size => 40, :maxlength => 18 %>   
      <br /> 
    </div>
</div>